{% extends 'dashboard/dashboardMaitre.html.twig' %}
{% block title %}Examens{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Navigation</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('dashboard_user_maitre') }}">Accueil</a></li>
                                    <li class="breadcrumb-item" aria-current="page" ><a href="{{ path ('exam_index')}}">Gestion des Examens</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                    </div>
                    {{ form_start(examform,{'enctype':'multipart/form-data'}) }}
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Examen de/d' </label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_row(examform.typeExam, {'attr': {'class':'form-control'}, 'label':false}) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Quel trimestre</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_row(examform.semestre, {'attr': {'class':'form-control'}, 'label':false}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Matière</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_row(examform.matiere, {'attr': {'class':'form-control'}, 'label':false}) }}
                        </div>
                    </div>

                    {#                    <div class="form-group row">#}
                    {#                        <label class="col-sm-12 col-md-2 col-form-label">Matière</label>#}
                    {#                        <div class="col-sm-12 col-md-10">#}
                    {#                            {{ form_row(exerciceform.matiere, {'attr': {'class':'form-control'}, 'label':false}) }}#}
                    {#                        </div>#}
                    {#                    </div>#}


                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Fichier PDF</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_row(examform.filePDF, {'attr': {'class':'form-control'}, 'label':false}) }}
                        </div>
                        <span class="error">{{ form_errors(examform.filePDF) }}</span>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">La correction</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_row(examform.correctionPDF, {'attr': {'class':'form-control'}, 'label':false}) }}
                        </div>
                        <span class="error">{{ form_errors(examform.correctionPDF) }}</span>

                    </div>

                    <div style="text-align: right">
                        <input type="submit" class="btn btn-outline-primary" value="Ajouter" />
                    </div>
                    {{ form_end(examform) }}
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    /*$(document).ready(function(){
        $("#registration_form_plainPassword").prop('required',false);
        $("#registration_form_accountType").prop('required',false);
        $("#registration_form_niveau").prop('required',false);
        $("#registration_form_numCarteInscription").prop('required',false);
    })*/
</script>
{% endblock %}