{% extends 'dashboard/dashboardMaitre.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Navigation</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('dashboard_user_maitre') }}">Accueil</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Gestion des Quiz</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Simple Datatable start -->

                {%for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="border-width: thick;text-align: center;  -webkit-text-stroke-width: medium;   ">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 class="text-blue h4">Gestionnaire des Quiz</h4>

                    </div>
                    <div style="text-align: right">
                        {# <button type="submit" class="btn btn-outline-primary" value="Ajouter Niveau" /> #}
                        <a class="btn btn-outline-primary"
                           href="{{ path('quiz_add') }}" style="margin-bottom: 24px; margin-right: 45px"
                        >
                            </i> Ajouter quiz</a>
                    </div>

                    <div class="pb-20">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">

                                    <table class="data-table table stripe hover nowrap dataTable no-footer dtr-inline"
                                           id="DataTables_Table_0" role="grid"
                                           aria-describedby="DataTables_Table_0_info">

                                        <thead>

                                        <tr role="row">
                                            <th class="table-plus datatable-nosort sorting_asc" rowspan="1" colspan="1"
                                                aria-label="Name">Nom de quiz
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                rowspan="1" colspan="1"
                                                aria-label="Cour: activate to sort column ascending">Matière
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                rowspan="1" colspan="1"
                                                aria-label="Matière: activate to sort column ascending">Difficulté
                                            </th>

                                            {# <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" #}
                                            {# rowspan="1" colspan="1" #}
                                            {# aria-label="Niveau: activate to sort column ascending">Niveau #}
                                            {# </th> #}
                                            {# <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Num CIN: activate to sort column ascending">Num CIN</th> #}
                                            <th class="datatable-nosort sorting_disabled" rowspan="1" colspan="1"
                                                aria-label="Action">Action
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for quiz in quizzes %}
                                            {% if quiz.user.Id == user.Id %}
                                                <tr role="row" class="odd">
                                                    <td class="table-plus sorting_1" tabindex="0">
                                                        {{ quiz.nomQuiz }}
                                                    </td>
                                                    <td>
                                                        {{ quiz.matiere.nomMatiere }}
                                                    </td>
                                                    <td>
                                                        {{ quiz.difficulte }}
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                                               href="#" role="button" data-toggle="dropdown"
                                                               aria-expanded="false">
                                                                <i class="dw dw-more"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                                                                 style="">
                                                                <a class="dropdown-item"
                                                                   href="{{ path('quiz_show',{'id':quiz.id}) }}"
                                                                >
                                                                    <i
                                                                            class="dw dw-eye"></i> Voir</a>
                                                                <a class="dropdown-item"
                                                                   href="{{ path('quiz_edit',{'id':quiz.id}) }}"
                                                                ><i
                                                                            class="dw dw-edit2"></i> Editer</a>
                                                                <a class="dropdown-item"
                                                                   href="{{ path('quiz_delete',{'id':quiz.id}) }}"
                                                                ><i
                                                                            class="dw dw-delete-3"></i> Supprimer</a>
                                                                {# {% if user.isVerified == false %} #}
                                                                {# <a class="dropdown-item" #}
                                                                {# href="{{ path('user_eleve_verify',{'id':user.id}) }}" #}
                                                                {# ><i #}
                                                                {# class=" icon-copy fa fa-unlock"></i>Activer #}
                                                                {# </a> #}
                                                                {# {% elseif user.isVerified == true %} #}
                                                                {# <a class="dropdown-item" #}
                                                                {# href="{{ path('user_eleve_verify',{'id':user.id}) }}" #}
                                                                {# ><i #}
                                                                {# class="icon-copy fa fa-lock"></i>Désactiver #}
                                                                {# </a> #}
                                                                {# {% endif %} #}

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Simple Datatable End -->
            </div>

        </div>
    </div>

{% endblock %}

