{% extends 'dashboard/dashboardMaitre.html.twig' %}

{% block title %}Exercices{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Navigation</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('dashboard_user_maitre') }}">Accueil</a></li>
                                    <li class="breadcrumb-item" aria-current="page"><a href="{{ path ('exercice_index')}}">Gestion des Exercices</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Voir</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        {#                        <div class="pull-left">#}
                        {#                            <h4 class="text-blue h4" style= "margin-left: 83px">  Les informations de :</h4>#}
                        {#                        </div>#}
                    </div>
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Exercice</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" value="{{ exercice.nomExercice }}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Type d'exercice</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="{{ exercice.typeExercice }}" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Cour</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="{{ exercice.Cour.nomCour }}" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Matière</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="{{ exercice.cour.matiere.nomMatiere }}" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Niveau</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="{{ exercice.cour.matiere.niveau.numNiveau }}" type="number" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Le fichier </label>
                            <div class="col-sm-12 col-md-10">
                                <a  class="form-control" href="{{ asset('exercices/' ~ exercice.pdf.name) }}" target="_blank">
                                    {{ exercice.pdf.originalName }}
                                </a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">La correction </label>
                            <div class="col-sm-12 col-md-10">
                                <a  class="form-control" href="{{ asset('exercices/' ~ exercice.correction.name) }}" target="_blank">
                                    {{ exercice.correction.originalName }}
                                </a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
