<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}WEB-SCHOOL{% endblock %}</title>
    {% block style %}
    <link rel="icon" href="{{ asset('home/img/favicon.png') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('home/css/bootstrap.min.css') }}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{ asset('home/css/animate.css') }}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{ asset('home/css/owl.carousel.min.css') }}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{{ asset('home/css/themify-icons.css') }}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{{ asset('home/css/flaticon.css') }}">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{{ asset('home/css/magnific-popup.css') }}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{{ asset('home/css/slick.css') }}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{ asset('home/css/style.css') }}">

    <link rel="stylesheet" href="{{ asset('home/css/nice-select.css') }}">

    {% endblock %}
</head>

<body>
    <!--::header part start::-->
    {% block header %}
        <!--::header part start::-->
        <header class="main_menu home_menu">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="{{ path('dashboard') }}"> <img
                                        src="{{ asset('home/img/Web-School logo.png') }}"  style="width: 250px" alt="logo"> </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse main-menu-item justify-content-end"
                                 id="navbarSupportedContent">
                                <ul class="navbar-nav align-items-center">
                                    <li class="d-none d-lg-block">
                                        <a class="btn_1" href="{{ path('app_register') }}">S'inscrire</a>
                                    </li>
                                    <li class="d-none d-lg-block">
                                        <a class="btn_1" href="{{ path('app_login') }}">Connecter</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header part end-->
    {% endblock %}
    <!-- Header part end-->
    {% block body %}

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1> WEB-SCHOOL Plateforme</h1>
                            <p>Sa mission est d'aider les élèves Tunisiens en proposant une plateforme d'apprentissage en ligne conforme aux programmes de l'éducation nationale du primaire.<br>
                                Notre objectif est votre réussite</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->



    <!-- learning part start-->
    <section class="learning_part" style="margin-top: -173px">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="{{ asset('home/img/learning_img.png') }}" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5>À propos de nous</h5>
                        <h2>la réussite de l'année scolaire</h2>
                        <p>WEB-SCHOOL est une plateforme d’apprentissage et d'éducation en ligne qui accompagne les élèves et fait leur suivi tout au long de leur parcours scolaire.<br>

                            Nos professeurs hautement qualifiés vont vous fournir le soutien qu’il vous faut, Vous encourage et vous donne l’ambition et la motivation pour travailler davantage et d’exceller à travers :<br>

                            - Des cours proposés des professeurs agrégés. <br>

                            - Une bibliothèque De devoirs et d’exercices conformes aux programmes officiels de chaque niveau.<br>

                            - Des tests d’évaluation de niveaux (QCM, Quizz…)

                            </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- learning part end-->

    <!-- member_counter counter start -->
    <section class="member_counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">{{ maitres }}</span>
                        <h4>Tous les maîtres</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">{{ eleves }}</span>
                        <h4> Tous les élèves </h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">{{ cours }}</span>
                        <h4>Tous les cours</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">{{ quizs }}</span>
                        <h4>Tous les quiz</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- member_counter counter end -->




{% endblock %}

{% block footer %}
<!-- footer part start-->
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="index.html"> <img src="{{ asset('home/img/Web-School logo.png') }}" style="width: 250px" alt=""> </a>
                    <p> Profiter des cours ,des exercices, des examens et des quiz gratuits </p>

                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="single-footer-widget footer_2">

                    <p>Notre réseax sociaux
                    </p>

                    <div class="social_icon">
                        <a href="#"> <i class="ti-facebook"></i> </a>
                        <a href="#"> <i class="ti-twitter-alt"></i> </a>
                        <a href="#"> <i class="ti-instagram"></i> </a>
                        <a href="#"> <i class="ti-skype"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Contactez-nous</h4>
                    <div class="contact_info">
                        <p><span> Téléphone :</span> +216 56260848</p>
                        <p><span> Email : </span>web-school@gmail.com </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer>
<!-- footer part end-->
{% endblock %}

{% block javascript %}

<script src="{{ asset('home/js/jquery-1.12.1.min.js') }}"></script>
<!-- popper js -->
<script src="{{ asset('home/js/popper.min.js') }}"></script>
<!-- bootstrap js -->
<script src="{{ asset('home/js/bootstrap.min.js') }}"></script>
<!-- easing js -->
<script src="{{ asset('home/js/jquery.magnific-popup.js') }}"></script>
<!-- swiper js -->
<script src="{{ asset('home/js/swiper.min.js') }}"></script>
<!-- swiper js -->
<script src="{{ asset('home/js/masonry.pkgd.js') }}"></script>
<!-- particles js -->
<script src="{{ asset('home/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('home/js/jquery.nice-select.min.js') }}"></script>
<!-- swiper js -->
<script src="{{ asset('home/js/slick.min.js') }}"></script>
<script src="{{ asset('home/js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('home/js/waypoints.min.js') }}"></script>
<!-- custom js -->
<script src="{{ asset('home/js/custom.js') }}"></script>
{% endblock %}

</body>

</html>